body {
		padding-left: 20px;
		float: left;
	}
* {	
	font-family:arial;
	line-height:1.5em;
	}
	
	input.Checkbox
	{
	margin-top: 0px;
	width: 15px;
	height: 15px;
	}

h2 {
	color:#00334e;
	font-weight:normal;
	text-shadow:0px 1px 1px #fff;
	}
h3 {
	font-size:1em;
	}
	
	h4 {
	font-size:1.5em;
	font-weight: normal;
	}
.wrapper {
	width:840px;
	margin:0 auto;
	float: left;
	}
.header {
	width:680px;
	margin-bottom:10px;
	padding-bottom:10px;
	border-bottom:1px solid #ddd;
	}
.content {
	font-size:8pt;
	clear:both;
	}
.header,
.genie_logo, 
.instructions,
.column1,
.column2 {
	position:relative;
	float:left;
	}
.genie_logo {
	width:180px;
	height:121px;
	background-image:url('../images/geniesocial.png');
	background-repeat:no-repeat;
	margin-top:20px;
	margin-bottom:20px;
	}
.instructions {
	width:460px;
	margin-left:40px;
	margin-bottom:20px;
	}
.instructions p {
	font-size:0.8em
	}
table,
td,
th {
	border: solid 1px silver;
	color:#666;
	padding:5px;
	font-size:9pt;
	}
table {
	border-collapse:collapse;
	}
table tr {
	background-color:#eee;
	}

table td, table th{
		border:1px solid #fff;}
.column1 {
	width: 990px
	}
	
	table#demotable1 {
	width:990px;
}
th {
	background-color:#777;
	color:#fff;
	font-size:1em
	}
a {
	color:#0079c1;
	text-decoration:none;
	}	
a:hover {
	text-decoration:underline;
	}
.filtering {
	background-color:light-gray
	}
#jqtf_filters {
	list-style:none;	
	}
#jqtf_filters li {
	display:inline-block; 
	position:relative; 
	float:left;
	margin-bottom:20px
	}
#quickfind {
	width:380px;
	border:1px solid #ccc;
	}
.clear {
	clear:both
	}
hr {
	margin-top:20px;
	border:1px dotted #eee;
	width:640px;
	}
#cleanfilters {
	margin-left:20px;
	}
	
</style>